html {
  box-sizing: border-box;
  @include breakpoint(sm) {
    overflow: hidden;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .container-fluid, .row {
  height: 100%;
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.col-sm-6 {
  height: 50%;
  @include breakpoint(sm) {
    height: 100%;
  }
}

.canvas-wrapper {
  height: 100%;
  width: 100%;
  canvas {
    height: 100%;
    width: 100%;
  }
}